<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity>
    <containers>
      <container>
        <!--<register type="PubSubSample.Common.Encryption.IEncryption,PubSubSample.Common" mapTo="PubSubSample.Common.Encryption.SimpleEncryption,PubSubSample.Common" />
        <register type="PubSubSample.PubSubServer.PubSubServer,PubSubSample.PubSubServer" mapTo="PubSubSample.PubSubServer.PubSubServer,PubSubSample.PubSubServer" />-->

        <type type="PubSubSample.Common.Proxy.IProxyManager,PubSubSample.Common" mapTo="PubSubSample.Common.Proxy.ProxyManager,PubSubSample.Common">
          <lifetime type="singleton" />
        </type>
        <type type="PubSubSample.Foundation.Contracts.IPubSubFilter,PubSubSample.Foundation" mapTo="PubSubSample.PubSubServer.PubSubFilter,PubSubSample.PubSubServer">
          <lifetime type="singleton" />
        </type>
        <types>
          <type type="PubSubSample.Common.Encryption.IEncryption,PubSubSample.Common" mapTo="PubSubSample.Common.Encryption.SimpleEncryption,PubSubSample.Common">
            <lifetime type="singleton" />
          </type>
          <type type="PubSubSample.Subscriber.Subscriber,PubSubSample.Subscriber" mapTo="PubSubSample.Subscriber.Subscriber,PubSubSample.Subscriber" />
        </types>
      </container>
    </containers>

  </unity>

  <appSettings>
    <add key="EndpointAddress" value="net.tcp://localhost:7002/Sub"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
